[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/peplin/ropevim.git
[submodule "bundle/SimpyFold"]
	path = bundle/SimpyFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/soloidx/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "bundle/blogger.vim"]
	path = bundle/blogger.vim
	url = git://github.com/ujihisa/blogger.vim.git
